# Environment variables
.env
.env.production

/secrets

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# compiler bins in
/osxcross
/llvm-mingw

# In Test / Personal
/.dyninst
/bin-to-test
/intro

# Etc
todo.md